#box-container {
    max-width: 900px;
    margin: 50px auto 0;
  }
  
  #box-container header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box-container header h1 {
    font-size: 21px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
  }
  
  #box-container header button svg {
    margin-right: 10px;
  }
  
  #box-container header button:hover {
    opacity: 0.9;
  }
  
  #box-container .upload {
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    border: 1px dashed #ddd;
    color: #999;
    margin-top: 50px;
    cursor: pointer;
  }
  
  #box-container ul {
    margin: 30px 0;
    list-style: none;
  }
  
  #box-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #box-container ul li + li {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #eee;
  }
  
  #box-container ul li .fileInfo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  #box-container ul li .fileInfo strong {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
  }
  
  #box-container ul li span {
    color: #999;
    font-size: 13px;
  }



  
#preloader-overlay {
  display: none;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -100px;
  z-index: 997;
  background: rgba(0,0,0,.6);
}

#completednumber {
  display: none;
  position: relative;
  left: 49%;
  top: 55%;
  width: 150px;
  height: 150px;
  color: aliceblue;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000; 
  display: none;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4db053;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color:#4658a4;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e72688;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}